<header>
    <h1>SHADDAP!</h1>
    <div id="users">{{usersCount}} users currently online</div>
    <div id="username">Logged in as snarky-penguin</div>
</header>
<main id="chatRoom" style="display: none;">
    <section id="chat" style="flex: 1; overflow: auto; margin: 20px 0;">
    </section>
    <form id="chatForm">
        <input type="text" placeholder="type a message" id="messageInput">
        <input type="submit" id="messageButton">
    </form>
    <button id="leaveRoom">Leave room</button>
</main>
<section id="roomsRoom" style="flex: 1; overflow: auto; margin: 20px 0;">
    <h2>Rooms online</h2>
    <div id="roomsList">
        {{#each rooms}}
            <div class="room">
                <a data-id="{{@key}}">{{roomName}}</a>
                <span>{{usersCount}} users</span>
            </div>
        {{/each}}
    </div>
</section>
<form id="addRoom" style="margin-bottom:50px;">
    <input type="text" placeholder="Name your room" id="roomNameInput">
    <input type="submit" value="Create room" id="roomNameButton">
</form>